body{
    background: #F3AC3C;
    margin: 100px auto;
}
.grandbox{
    width:200px;
    height:200px;
    background:#1A4341;
    margin-left: 100px;
    position: absolute;
}
.moyenbox{
    width:100px;
    height:100px;
    background:#998235;
    margin-left: 50px;
    bottom: 0px;
    position: absolute;
}
.petitbox{
    width:50px;
    height:50px;
    background:#F3AC3C;
    margin-left: 25px;
    position: absolute;
    bottom: 0px;
}